@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
/*declare with font-family: 'Gothic A1', sans-serif*/

/*Site-wide rules - most general, appling to all pages*/
html, body {
    margin: 0;
    height: 100%;
    
}

body p, a, li, span {
    font-family: 'Gothic A1', sans-serif;
}

body h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

a {
    text-decoration: none;
    color: inherit;
}

.header-background {
    width: 100%;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;

}

.header {
    background-color: rgba(0, 0, 0, 0);
    width: 700px;
    height: 75px;
    float: left;
}

.header a {
    text-decoration: none;
    color: inherit;
    vertical-align: middle;
    
}

.header a h1 {
    margin-block-start: 0px;
    margin-block-end: 0px;
    font-size: 3em;
    margin-left: 20px;
}

.nav {
    float: right;
    color: inherit;
    height: 70px;
}

.nav nav ul {
    margin-top: 24px;
}

.nav ul li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px; 
}

.nav a {
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 5px;
}

.nav-traitor {
    background-color: rgba(139, 0, 0, 0.7);
    color: white;
    font-weight: 700;
}

.nav-loyalist {
    background-color: rgba(255, 255, 0, 0.7);
    color: black;
    font-weight: 700;
}

.nav-contact {
    background-color: rgba(0, 0, 130, 0.5);
    color: white;
    font-weight: 700;
}

.nav a:hover {
    background-color: white;
    color: black;
}

.line-break {
    clear: both;
}

footer {
    width: 100%;
    height: 20px;
    background-color:rgba(48, 48, 48, 0.7);
    color: white;
    text-align: center; 
}

footer div {
    display: inline-block;
}

footer div span {
    font-size: x-small;
}

.copyright span {
    margin: 0 100px;
}

.social-media {
    height: 1rem;
}

.social-media ul {
    text-align: center;
    list-style-type: none;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.social-media ul li {
    display: inline-block;
    margin: 0 20px 0 20px;
}

.hosted {
    margin: 0 100px;
}

/*General Media Queries*/

@media screen and (max-width: 1270px) {
    
    .header-background {
        height: 140px;
    }

    .nav {
        float: left;
    }
}

@media screen and (max-width: 710px) {
    .header a h1 {
        font-size: 2.5em;
    }

    .header-background {
        width: 100vw;

    }

    .header {
        width: auto;
    }
}

@media screen and (max-width: 570px) {

    .header a h1 {
        font-size: 2em;
    }

    .header-background {
        height: 220px;
    }

    .nav ul li {
        display: block;
        margin-top: 20px;
    }
}




/*Homepage style rules*/

#homepage-background-image {
    background-image: url('../images/background-images/ultramarine-power-fist.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: navy;
    overflow: hidden;
    min-height: 100%;
}

#intro-text {
    clear: both;
    background-color: rgba(0, 0, 87, 0.7);
    color: white;
    width: 25%;
    height: 200px;
    border-radius: 15px;
    border: 2px solid gold;
    margin-top: 25px;
    margin-left: 25px;
    padding: 10px;
    float: left;
}

#intro-text p {
    font-size: 1.1rem;
}

#links {
    float: right;
}

.text-box {
    padding: 20px;
}

.button h4, #intro-text p {
    text-align: center;
}

.button {
    margin: 25px 0 40px 0;
    width: 400px;
    height: 40px;
    border-radius: 15px;
    border-style: outset;
    margin-right: 25px;
}

#traitor {
    background-color: rgba(139, 0, 0, 0.7);
    color: white; 
    
}

#traitor:hover {
    background-color: white;
    color: black;
}

#loyalist {
    background-color: rgba(255, 255, 0, 0.7);
    color: rgb(0, 0, 0); 
    
}

#loyalist:hover {
    background-color: white;
    color: black;
}

#homepage {
    min-height: calc(100vh - 38px);
}

/*Homepage media queries*/

@media screen and (max-width: 1410px) {

    #homepage-background-image {
        background-position: center center;
    }

    #intro-text {
        height: 150px;
        float: none;
        margin: 0 auto;
        width: 80%;
    }

    .text-box {
        padding: 0;
    }

    #links {
        float: none;
        margin: 0 auto;
        width: 80%;
    }

    .button {
        width: 100%;
        height: 80px;
        padding-top: 30px;
    }

    .button h4 {
        font-size: x-large;
    }
}

@media screen and (max-width: 925px) {
    
    .footer {
        height: 60px;
    }

    .footer div {
        display: block;
    }  
    
    #homepage {
        min-height: calc(100vh - 70px);
    }
}

@media  screen and (max-width: 850px) {
    #intro-text {
        height: 200px;
    }

    #homepage-background-image {
        overflow: scroll;
    }
}

@media screen and (max-width: 540px){
    #intro-text {
        height: 300px;
    }

    .button {
        height: 120px;
    }
    
}

@media screen and (max-width: 320px) {
    #intro-text {
        height: 350px;
    }

    .button {
        height: 150px;
    }
}

@media screen and (max-width: 330px) {

    .footer {
        height: 80px;
    }
    
    .footer div span {
        margin: 0;
    }

    .hosted {
        margin: 0;
    }
}


/*Traitor and Loyalist content page style rules*/

#traitor-background-image {
    background-image: url('../images/background-images/the-first-heretic.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#loyalist-background-image {
    background-image: url('../images/background-images/battle-of-phall.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h2 {
    text-align: center;
    color: inherit;
    font-size: xx-large;
}

.content {
    clear: both;
}

#traitor-intro {
    /*margin: 100px auto 0 auto;*/
    margin-top: 25px;
    margin-left: 25px;
    width: 35%;
    height: 280px;
    background-color: rgba(139, 0, 0, 0.7);
    color: white;
    border: 2px solid white;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
}

#loyalist-intro {
    /*margin: 100px auto 0 auto;*/
    margin-left: 25px;
    margin-top: 25px;
    width: 35%;
    height: 280px;
    background-color: rgba(255, 255, 0, 0.7);
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 15px;
    padding: 20px;
    text-align: center;
}

.internal-navigation-loyalist ul li {
    display: inline-block;
    margin: 10px;
    font-weight: 700;
}

.internal-navigation-traitor ul li {
    display: inline-block;
    margin: 10px;
    font-weight: 700;
}

.internal-navigation-loyalist a {
    padding: 5px;
    border: 1px solid rgb(0, 0, 0);
}

.internal-navigation-traitor a {
    padding: 5px;
    border: 1px solid rgb(255, 255, 255);
}

.internal-navigation-loyalist a:hover {
    background-color: white;
    color: black
}

.internal-navigation-traitor a:hover {
    background-color: white;
    color: black
}

.legion-article {
    background-color: black;
    width: 80%;
    height: 1750px; 
    margin: 50px auto 0 auto;
    padding: 15px;
    border-radius: 30px;
}

.legion-article h2 a i {
    margin: 0 20px 0 20px;
    font-size: 100%;
}

.legion-article div {
    padding: 10px;
}

/*::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: grey;
}

::-webkit-scrollbar-thumb {
    background: black;

::-webkit-scrollbar-thumn:hover {

}
}*/

.wrapper {
    width: 90%;
    margin: 0 auto;
}

.quick-facts {
    float: left;
    height: 255px;
    width: 50%;
    overflow: auto;
    padding: 10px;
}

.preview-images {
    float: right;
    height: 255px;
    width: 45%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 10px;
    background-color: white!important;
}

.image-container-preview {
    display: inline-block;
    margin-top: 30px;
    margin-left: 30px;
}

.discussion {
    height: 400px;
    width: 90%;
    margin: 10px auto 0 auto;
    overflow: auto;
    clear: both;
}

.image-gallery {
    height: 350px;
    width: 90%;
    margin: 10px auto 0 auto;
    background-color: white;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.image-container-white {
    display: inline-block;
    margin-left: 20px;
    color: black!important;
    width: 300px;
    height: 300px;
    vertical-align: top;   
}

.image-container-white p {
    font-size: smaller;
    width: 300px;
    height: 100px;                      
    word-break: break-word;
    white-space: normal;
}

.image-container-white img {
    margin-left: 30px
}

.historians-note {
    font-size: smaller;
    width: 90%;
    height: 20px;                      
    word-break: break-word;
    white-space: normal;
    color: black;
}

#first-article {
    margin-top: 400px;
    color:white;
}

.next-article a i {
    font-size: 300%;
    margin-left: 49%;
}

.next-article p {
    font-size: smaller;
    text-align: center;
    margin-block-start: 0;
    margin-block-end: 0;
}




/*Emperor's Children Legion Article*/

#emperors-children {
    margin: 5vh auto 0 auto;
    background-color: rgb(66, 0, 66);
    color: white;
}

.emperors-children-div {
    border: 2px solid gold;
}

/*Iron Warriors Legion Article*/

#iron-warriors {
    background: linear-gradient(
        135deg,
        yellow 20px,
        black 20px,
        black 40px,
        yellow 40px,
        yellow 60px,
        black 60px,
        black 80px,
        yellow 80px,
        yellow 100px,
        black 100px,
        black 120px,
        yellow 120px,
        slategrey 120px,
        slategrey
        );/*This style rule is used to create the hazard stripes in the uppper left hand corner of the Iron Warriors Legion Article. 
        Each stripe is defined by the two colours with the same length, the first colour defined being the colour of the stripe. The two colours are necessary
        to create hard transitions that mimic a stripe effect*/
}

.iron-warriors-div {
    border: 2px solid yellow;
}


/*Night Lords Legion Article*/

#night-lords {
    background-color: midnightblue;
    color: #93b9df;
}

.night-lords-div {
    border: 2px solid #93b9df;
}

#world-eaters {
    background-color: #f5f5f5;
    color: darkblue;
}

.world-eaters-div {
    border: 2px solid darkblue;
}

#death-guard {
    background-color: whitesmoke;
    color: #324b2a;
}

.death-guard-div {
    border: 2px solid #86a17d;
}

#thousand-sons {
    background-color: #cc1100;
    color: gold;
}

.thousand-sons-div {
    border: 2px solid gold;
}

#sons-of-horus {
    background-color: rgb(48, 103, 92);
    color: white;
}

.sons-of-horus-div {
    border: 2px solid black;
}

#word-bearers {
    background-color: #8b0000;
    color: rgb(255, 255, 255);
}

.word-bearers-div {
    border: 2px solid silver;
}

#alpha-legion {
    background-color: #065465;
    color: rgb(255, 255, 255)
}

.alpha-legion-div {
    border: 2px solid silver;
}

#dark-angels {
    margin: 5vh auto 0 auto;
    background-color: rgb(35, 36, 36);
    color: whitesmoke;
}

.dark-angels-div {
    border: 2px solid whitesmoke;
}

#white-scars {
    background-color: white;
    color: #cc1100;
}

.white-scars-div {
    border: 2px solid #cc1100;
}

#wolves-of-fenris {
    background-color: rgb(70, 70, 70);
    color: #d7d0c0;
}

.wolves-of-fenris-div {
    border: 2px solid #d7d0c0;
}

#imperial-fists {
    background-color: yellow;
    color: black;
}

.imperial-fists-div {
    border: 2px solid black;
}

#blood-angels {
    background-color: #800000;
    color: silver;
}

.blood-angels-div {
    border: 2px solid black;
}

#iron-hands {
    background-color: silver;
    color: black;
}

.iron-hands-div {
    border: 2px solid black;
}

#ultramarines {
    background-color: #0047ab;
    color: gold;
}

.ultramarines-div {
    border: 2px solid black;
}

#salamanders {
    background-color: rgb(25, 95, 25);
    color: orange;
}

.salamanders-div {
    border: 2px solid black;
}

#raven-guard {
    background-color: black;
    color: whitesmoke;
}

.raven-guard-div {
    border: 2px solid whitesmoke;
}

.contact-outer {
    width: 100%;
    height: 150px;
    margin: 0 auto;
    background-color: rgba(48, 48, 48, 0.7);
    color: white;
    margin-top: 50px
}

.contact {
    width: 50%;
    margin: 0 auto;
    height: 120px;
    padding-top: 20px;
}

.contact div {
    height: 40px;
    width: 120px;
    margin: 0 auto;
}

.contact-button {
    height: 40px;
    width: 120px;
    background-color: rgba(0, 0, 130, 0.5);
    color: white;
    border: 1px solid white;
    margin: 0 auto;
    border-radius: 10px;
    border-style: outset;
    font-weight: 800;
}

.contact-button p {
    text-align: center;
}

.contact-button:hover {
    background-color: white;
    color: black;
}


/*Contact page style rules*/

#contact-background-image {
    background-image: url('../images/background-images/the-primarchs.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}

#contact-background {
    height: 640px;
    width: 800px;
    background-color: rgba(0, 0, 87, 0.7);
    color: white;
    margin-top: 50px;
    margin-left: 50px;
    border: 2px solid white;
    border-radius: 30px;
    padding: 20px;
    /*float: left;*/
}

#contact-background legend, #contact-background label {
    font-family: 'Open Sans', sans-serif;
}

fieldset {
    margin-bottom: 10px;
}

.details {
    display: inline-block;
    margin-right: 15px;
}

.hobbying {
    margin-bottom: 10px;
}

.form-options {
    margin: 0 auto;
}

.form-options input:nth-child(1) {
    background-color: green;
    color: white;
    margin-left: 200px;
}

.form-options input:nth-child(2) {
    background-color: red;
    color: white;
    margin-left: 100px;
}

.form-options input {
    margin-right: 10px;
}

.form-options input:hover {
    background-color: white;
    color: black;
}

#contact-footer {
    clear: both;
}

#contact-page {
    min-height: calc(100vh - 20px);
}